$font-family-title: fantasy;
$font-family-contents: cursive;

@mixin flex($flexdirection: row) {
    display: flex;
    flex-direction: $flexdirection;
    align-items: center;
    margin: 10px;
    border-radius: 2rem;
}
  
.title {
    @include flex;
    justify-content: center;
    background: lightsalmon;
    height: 60px;
    font-family: $font-family-title;
    font-weight: bolder;
    font-size: 3rem;
}

.container {
    @include flex;
}

.card {
    @include flex($flexdirection :column);
    width: 50%;
    height: 100%;
    border: 2px solid black;
    padding: 20px; 
    font-family: $font-family-contents;
}

.darkside {
    background: dimgray;
    box-shadow: 5px 5px;
}

.yoda {
    background: linen;
    box-shadow: 5px 5px darksalmon;
    
}

.card__title {
    font-size: 2.5rem;
    margin: 10px auto;
}

.card__img {
    width: 100%;
    height: 50vh;
}

.card__button {
    height: 10vh;
    width: 10vw;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    box-shadow: 3px 10px 15px;
    cursor: pointer;
}

.card__button--darkside {
    background: indianred;
}

.card__button--yoda {
    background: lightgreen;
}

.card__p {
    font-size: 2rem;
    margin: 10px auto;
}
/* Happy coding! */